body {
  font-family: sans-serif;
  margin: 10px;
  background-size: 100px;
}


h1 {
  text-align: left;
  margin:10px;
  padding: 10px, 10px, 10px, 10px;
  font-size: 50px;
  color: #e7e7e7;
}

h2{
  text-align: left;
  font-weight: medium;
}
h5{
  font-weight: medium;
}

footer {

  text-align: left;
}

button {
  border-style: solid;
  border-radius: 5px;
  background: rgb(170, 170, 170);
}

ul{
  text-align:right ;
  list-style-type: none;
  text-transform: capitalize;
  font-size: 17px;

}

.weather-app{
  max-width: 1000px;
}

.temp{
  color: rgb(0, 0, 0);
  
}

.mood {
  border-style: none;
  border-radius: 10px;
}

.c-temp {
  text-decoration: none;
 font-weight: bold ;
 color: black;
  font-size: 20px;
}
.f-temp {
  text-decoration: none;
 font-weight: bold ;
 color: rgb(1, 146, 190);
 font-size: 20px;
}
.attribute {
  text-transform: capitalize;
  font-weight: medium;
}

.link {
  font-style: italic;
  font-weight: medium;
}
