body {
  font-family: sans-serif;
  margin: 10px;
  background-size: 100px;
}
.container {
  width: 1000px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23f7f9fa' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.content-border {
  border-style: solid;
  border-radius: 10px;
  border-color: #e7e7e7;
  padding: 15px;
  height: 100%;
}

.img-fluid {
  border-radius: 10px;
}

.forecastSixDays {
  text-align: center;
}
.weather {
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  color: #e7e7e7;
  border-radius: 10px;
}

ul {
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  padding: 30px 0px 0px 0px;
  border-radius: 10px;
  border-color: #e7e7e7;
}

ul :first-letter {
  text-transform: capitalize;
}

h2 {
  text-align: left;
  font-weight: medium;
}
h5 {
  font-weight: medium;
  font-size: 18px;
}
/*

img {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 70px;
}
*/

footer {
  display: block;
  margin: 20px 200px 0px 0px;
  padding: 5px 10px 5px 10px;
  border: solid;
  border-radius: 8px;
  border-color: #e7e7e7;
  width: 300px;
}

.btn-warning {
}

.mainCard {
  /*
 margin: 0px auto;
  padding: 12px 20px 12px 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: #e7e7e7;
  width: 520px;
 */
  text-transform: capitalize;
}

.icono {
  display: block;
  margin: 0px 20px 0px 0px;
  width: 80px;
}

/*
.input {
  text-align: left;
  margin: 0px 7px 0px 75px;
  width: 230px;
  border-radius: 5px;
  border-color: rgb(170, 170, 170);
}
*/

.enter {
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 20px 0px 0px;
  border-radius: 5px;
  width: 250px;
}
/*

.btn-secondary {
  border: none;
  border-radius: 5px;
  border-color: #e7e7e7;
  color: white;
  font-size: 15px;
  color: black;
  transition: ease-in-out;
  background: rgb(199, 198, 198);
  height: 30px;
  padding: 0px 10px 0px 10px;
  margin: 0px 3px 0px 0px;
}

*/
/*
.weather-app {
  max-width: 1000px;
  display: block;
  margin: 0px auto;
}
*/

.temp {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 10px 0px 0px 0px;
}

/*
.forecastDays {
  border: solid;
  border-radius: 10px;
  border-color: #e7e7e7;
  padding: 40px 20px 40px 20px;
}
*/

/*
.mood {
  border-style: solid;
  border-radius: 10px;
  border-color: #e7e7e7;
  display: block;
  margin: 20px 0px 0px 0px;
  width: 280px;
}
*/

.weather-temperature {
  display: block;
  margin: 0;
  padding: 0px 0px 12px 0px;
}

.celsius-temp {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 20px;
  text-align: center;
}

.celsius-temp:hover {
  cursor: default;
}

.farenheit-temp {
  text-decoration: none;
  font-weight: bold;
  color: rgb(1, 146, 190);
  font-size: 20px;
}
.attribute {
  text-transform: capitalize;
  font-weight: medium;
}

.link {
  font-style: italic;
  font-weight: medium;
}
